<div class="panel">
  <h2>Admin</h2>

  <button ng-click="recalculateStats()">Recalculate Stats</button>

  <div ng-if="loading">Recalculating...</div>

  <p>Total Users: {{stats.totalUsers}}</p>

  <h4>Flagged Users (.biz emails)</h4>
  <ul>
    <li ng-repeat="fu in stats.flaggedUsers">
      {{fu.name}} - {{fu.email}}
      <button ng-click="flagUser(fu)">Flag</button>
    </li>
  </ul>

  <h4>Audit Log</h4>
  <ul>
    <li ng-repeat="log in auditLog">
      {{log.at | date:'medium'}} - {{log.action}}
    </li>
  </ul>
</div>
