<!doctype html>
<html ng-app="watcherApp">
  <head>
    <meta charset="utf-8" />
    <title>AngularJS Watchers Heavy</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>
    <script src="./app.js"></script>
    <script src="./controllers/watcher.controller.js"></script>
  </head>
  <body ng-controller="WatcherController">
    <h2>Watcher Stress Test</h2>

    <input type="text" ng-model="user.name" placeholder="Name" />
    <input type="number" ng-model="user.age" placeholder="Age" />

    <p>Normalized name: {{ normalizedName }}</p>
    <p>Status: {{ status }}</p>
  </body>
</html>
